.Box
{
    width: 60%;
    background-color: rgba(174, 223, 203, 0.575);
    display: flex;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: .3rem;
}
.Box .descbox 
{
    width: 80%;
    font-size: 1.5rem;
    font-weight: 500;
}
.Box .descbox p
{
    margin: .5rem;
}
    .Box .descbox a
    {
        text-decoration: none;
        color: rgb(58, 181, 230);
    }
.Box .btnbox 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Box .btnbox button
{
    font-size: 1.5rem;
    padding: .3rem;
    width: 11rem;
    color: white;
    background-color: rgb(58, 181, 230);
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}
.Box .btnbox button:hover
{
    color: rgb(58, 181, 230);
    background-color: white;
    border: 1px solid rgb(58, 181, 230); 
}
@media (max-width:900px){
    .Box
    {
        width: 70%;
        padding: 1rem;
    }
    .Box .descbox p
    {
        font-size: 1rem;
    }
    .Box .descbox a
    {
        font-size: 1rem;
    }
    .Box .btnbox button
    {
        font-size: 1rem;
        padding: .5rem;
        width: 8rem;
    }
}
@media (max-width:675px){
    .Box
    {
        width: 80%;
        padding: .5rem;
    }
    .Box .descbox p
    {
        font-size: .8rem;
    }
    .Box .descbox a
    {
        font-size: .8rem;
    }
    .Box .btnbox button
    {
        font-size: .9rem;
        padding: .5rem;
        width: 6rem;
    }
}